<div class="container-fluid">
          <div class="d-flex mt-5 justify-content-center">
                    <div class="card" style="width: 700px">
                              <div class="card-body">
                                <h5 class="card-title"> Profile settings</h5>
                                        <form *ngIf="user | async; else loading" autocomplete="off" [formGroup]="myForm">
                                                  <div class="row align-items-center mt-3">
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">Name</label>
                                                                      <input type="text" formControlName="name" class="form-control">
                                                                      
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">Lastname</label>
                                                                      <input type="text" formControlName="lastname" class="form-control ">
                                                                      
                                                            </div>
                                                            
                                                  </div>
                                                  <div class="row align-items-center mt-3">
                                                            <div class="col-12 col-sm-12 col-md-12">
                                                                      <label class="col-form-label">Username</label>
                                                                      <input type="text" formControlName="username" class="form-control">
                                                                      
                                                            </div>
                                                            
                                                            
                                                  </div>
                                                  <div class="row align-items-center mt-3">
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">DNI</label>
                                                                      <input type="number" min="0" formControlName="dni" class="form-control">
                                                                     
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">Email</label>
                                                                      <input type="email" formControlName="email" class="form-control ">
                                                                      
                                                            </div>  
                                                  </div>
                                                  <div class="row align-items-center mt-3">
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">Phone Number</label>
                                                                      <input type="number" min="0" formControlName="phoneNum" class="form-control">
                                                                      
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-6">
                                                                      <label class="col-form-label">Location</label>
                                                                      <input type="text" formControlName="location" class="form-control ">
                                                                      
                                                            </div>
                                                  </div>
                                        </form> 
                              
                                
                              </div>
                    </div>
          </div>
          <div class="container mt-5 mb-2">
                <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Books Rented by {{myUser.username}}</h5>
                                <table class="table" >
                                        <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Book Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">ISBN</th>
                                        <th scope="col">Day Rented</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngFor="let book of myBooks; let i = index">
                                        <tr>
                                        <th scope="row">{{i}}</th>
                                        <td>{{book.bookId}}</td>
                                        <td>{{book.title}}</td>
                                        <td>{{book.isbn}}</td>
                                        <td>{{book.dayPrestado}}</td>
                                        </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
          </div>
</div>
<ng-template #loading>
        Loading...
</ng-template>

