<div class="d-flex align-items-center justify-content-center w-100 h-100">
          <div class=" card text-center mt-5" style="max-width: 600px;">
                    <img *ngIf="actualBook.thumbnail" src="{{actualBook.thumbnail}}" class="card-img-center" alt="book_thumbnail" style="object-fit: contain; max-width: 600px; max-height: 200px;">
                    <img *ngIf="!actualBook.thumbnail" src="../../../../assets/noPhoto.jpg" class="card-img-center" alt="book_thumbnail" style="object-fit: contain; max-width: 600px; max-height: 200px;">
                    <div class="card-header">
                      Book Details
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{actualBook.title}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Book ID: {{actualBook.id}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Book ISBN: {{actualBook.isbn}}</h6>
                      <p class="card-text"><strong> Book Description:</strong> {{actualBook.description}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
          </div>
</div>

